*{
	margin:0;
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: silver;
}
body{
	font-size: 12px;
}
.v-area{
	position: relative;
	overflow: hidden;
	width: 80%;
	height: 90%;
	background: #232323;
	box-shadow: 1px 2px 10px black;
	/*top: 20px;*/
	margin: 0.2rem auto;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.v-area .v-s{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 80%;
	background: #555;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.v-s video{
	max-width: 100%;
	max-height: 100%;
}
.v-s canvas{
	max-width: 100%;
	max-height: 100%;
}
.v-area .v-t{
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 10%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.v-area .v-t div{
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 0.5rem;
	background: #fff;
	margin: 0.2rem 0.5rem;
}
.v-area .v-t div span{
	display: block;
	width: 100%;
	height: 100%;
}
.v-area .v-t div label{
	display: block;
	width: 100%;
	height: 100%;
}
.v-area .v-t>div input[type=file]{
	display: none;
}
.v-area .v-t>div>div{
	display: none;
	position: absolute;			
	overflow: hidden;
	left: 5%;
	top: 5%;
	width: 90%;
	height: 90%;
	margin: 0;
	background-color: #222;
}
.v-area .v-t>div>div>input{
	width: 48%;
	height: 40%;
}
.v-area .v-t>div>div>input:nth-of-type(1){
	float: left;
}
.v-area .v-t>div>div>input:nth-of-type(2){
	float: right;
}
.v-area .v-t>div>div>div{
	display: flex;
	text-align: center;
	width: 100%;
	line-height: 0.4rem;
	margin: 0;
}
.v-area .v-t>div:hover span{
	background-color: #111;
	color: white;
}
.v-area .v-t>div>div>div:hover{
	background-color: #111;
	color: white;
}